<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  th:replace="~{layouts/_mainLayout :: layout( ~{::section#body} )}"
>
  <section id="body" class="container my-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col mt-3">
        <div class="card">
          <img
            style="max-height: 200px"
            th:src="@{/static/images/q1.jpg}"
            class="img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title">Umeditatea aerului</h5>
            <p class="card-text">
              Datele colectate de la senzorii responsabili de măsurarea
              umedității aerului v-or fi vizualizare și v-a fi oferit funcțional
              pentru manipulare cu datele colectate.
            </p>
            <a class="btn btn-primary" href="#" role="button">Accesează pagina</a>
          </div>
        </div>
      </div>
      <div class="col mt-3">
        <div class="card">
          <img
            th:src="@{/static/images/q4.jpg}"
            style="max-height: 200px"
            class="img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title">Camere de supraveghere</h5>
            <p class="card-text">
              Afișarea video realtime de la orice cameră plasată pe teritoriul
              și în afara teritriului casei dvs.
            </p>
            <a class="btn btn-primary" href="#" role="button">Accesează pagina</a>
          </div>
        </div>
      </div>
      <div class="col mt-3">
        <div class="card">
          <img
            th:src="@{/static/images/q2.jpg}"
            class="img-fluid"
            style="max-height: 200px"
          />
          <div class="card-body">
            <h5 class="card-title">Temperatura aerului</h5>
            <p class="card-text">
              Datele colectate de la senzorii responsabili de măsurarea
              temperaturii aerului v-or fi vizualizare și v-a fi oferit
              funcțional pentru manipulare cu datele colectate.
            </p>
            <a class="btn btn-primary" href="#" role="button">Accesează pagina</a>
          </div>
        </div>
        <div class="col mt-3">
          <div class="card">
            <img
              th:src="@{/static/images/q3.jpg}"
              class="img-fluid"
              style="max-height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Nivelul de radiație</h5>
              <p class="card-text">
                Datele colectate de la senzorii responsabili de măsurarea
                nivelului de radiație v-or fi vizualizare și v-a fi oferit
                funcțional pentru manipulare cu datele colectate.
              </p>
              <a class="btn btn-primary" href="#" role="button">Accesează pagina</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>
